<IfModule mod_rewrite.c>
    RewriteEngine On

    # Force HTTPS and www prefix
 # RewriteCond %{HTTPS} off [OR]
   # RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
   # RewriteRule ^ https://%1%{REQUEST_URI} [L,R=301]
    RewriteCond %{HTTPS} off [OR]
    RewriteCond %{HTTP_HOST} !^www\.
    RewriteRule ^ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
    # Redirect public to the root
    RewriteCond %{REQUEST_FILENAME} -d [OR]
    RewriteCond %{REQUEST_FILENAME} -f
    RewriteRule ^ ^$1 [N]

    # Rewrite URIs to the public folder
    RewriteCond %{REQUEST_URI} (\.\w+$) [NC]
    RewriteRule ^(.*)$ public/$1 

    # Serve Laravel via server.php
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ server.php
</IfModule>
